/* Default */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: rgb(255,255,255);
}

div {
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
  color: #5F74C7;
  font-family: Verdana;
  display: block;
  float: left;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 2.5rem;
}

p.text {
  color: rgb(40,40,40);
  font-size: 1.3rem;
  font-family: Verdana;
  padding-left: 20px;
  padding-top: 12%;
  margin-top: 0px;
  display: block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Content */

div.main {
  width: 70%;
  height: auto;
  background-color: white;
  margin: auto;
  display: block;
  background: white;
}

.content {
  margin: 40px 0px;
  background-color: #EEEEEE;
  height: auto;
  width: auto;
  border-radius: 20px;
  /* border: 2px solid blue; */
}

div.smallbox {
  width: 25%;
  border: solid 6px white;
  border-radius: 15px;
  height: 35.5rem;
  background-color: #EEEEEE;
  display: block;
  float: left;
}

.content img {
  float: right;
  margin: 10px;
  /* border: 1px solid white; */
}

.smallbox img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 12px;
}

/* Header */

.header {
  width: 100%;
  height: auto;
  background-color: #EEEEEE;

}

.header img {
  margin: auto;
  display: block;
}

/* Navbar */

.navbar {
  overflow: hidden;
  background-color: #EEEEEE;
}

.navbar a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  padding: 14px;
  float: right;
  font-family: Verdana;
  border-bottom: solid 4px #EEEEEE;
}

.navbar a:hover {
  color: black;
  border-bottom: solid 4px #5F74C7;
}

.main_navbar {
  overflow: hidden;
  background-color: #5F74C7;
  display: block;
}

.main_navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana;
}

.main_navbar a:hover {
  background-color: rgb(40,40,40);
  color: white;
}

/* Footer */

.footer {
  width: 100%;
  height: 200px;
  background-color: black;
}
